
.venv
guias
neg
sum1b

Simulacion
*.ip_user_files
*.jobs
work
__synthesis_is_complete__
# Vivado
*.bak
*.mti
*.mpf
*.wlf
*qdb
*qpg
*qtl
_info
_vmake
*.cache
*.hw
*.up_user_files
*.xml
*.rst
*.js
*.txt
*.pb
*.rpt
*.rpx
*.dcp
*.wdf
*.vdi
*.bat
*.sh
*.log
*.html
*.jou
*.srcs
*.sim
*.xpr
*.Xil